@model WebApp.ViewModels.PerformerVM

@{
    ViewData["Title"] = "Index";
}

<h1>Performer management</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
@using (Html.BeginForm())
{
    @Html.TextBox("search")
    <input type="submit" id="Search" value="Search" class="btn btn-primary" />
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Performer.PerformerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Performers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PerformerName)
            </td>
            <td>
                    @Html.ActionLink("Manage", "Edit", new { idPerformer = item.IDPerformer }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { idPerformer = item.IDPerformer }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
